:root {
  --width-card: 670px;
  --height-card: 920px;
  --width-border-image: 20px;
  --height-footor: 130px;
  --size-image: 380px;
  --size-social-icons: 50px;
  --rad-card: 15px;
  --font-size-1: 40px;
  --font-size-2: 30px;
  --font-size-3: 20px;
  --color-border-image: #f9fbfa;
  --color-bg-bt: #66b4ff;
  --color-bg-footer: #1f354c;
  --color-icons-footer: #b87da1;
  --color-nomber-footer: #b5c2cf;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.user-card-contaiter {
  width: var(--width-card);
  height: var(--height-card);
  border: 5px solid var(--color-bg-footer);
  border-radius: var(--rad-card);
  margin: 20px auto;
  font-size: var(--font-size-3);
  color: var(--color-bg-footer);
  font-weight: bold;
  overflow: hidden;
}

.main-user-card {
  padding: 10px;
  height: calc(var(--height-card) - var(--height-footor));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & > * {
    width: max-content;
  }
}

.social-containet {
  position: relative;
  opacity: 0.5;

  .social-icon {
    position: absolute;
    top: -5px;
    width: var(--font-size-2);
    height: var(--font-size-2);
    border: 1px solid var(--color-bg-footer);
    border-radius: 50%;
  }

  & :last-child {
    margin-left: 5px;
  }
}

.img-container {
  margin-top: -10px;
  width: var(--size-image);
  height: var(--size-image);
  border: var(--width-border-image) solid var(--color-border-image);
  border-radius: 50%;
  box-shadow: 0px 5px 10px #b8b7b7;
  object-fit: cover;
  overflow: hidden;

  img {
    object-position: -90px -55px;
    width: 155%;
  }
}

.user-name {
  margin-top: -40px;

  h2 {
    font-size: var(--font-size-1);
    font-weight: normal;
  }
}
.user-info {
  width: 70%;
  margin-top: -50px;
  text-align: center;
  font-size: var(--font-size-3);
  opacity: 0.7;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.follow-btn {
  margin-top: 40px;
  width: 240px;
  height: 90px;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: var(--font-size-2);
  font-weight: bold;
  background-color: var(--color-bg-bt);
  box-shadow: 0px 5px 5px gray;
  border: none;
  cursor: pointer;
}

.footer-user-card {
  display: flex;
  height: var(--height-footor);
  background-color: var(--color-bg-footer);
  font-size: var(--font-size-3);
  & > :last-child {
    border-right: none;
  }
}

.info-item {
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  width: calc(100% / 3);
  border-right: 2px solid #4c5259;
}

.icon {
  color: var(--color-icons-footer);
  font-size: var(--size-social-icons);
}
.stats-block {
  padding: 15px;
  text-align: center;

  .name {
    color: var(--color-icons-footer);
  }
  .count {
    color: var(--color-nomber-footer);
  }
}
